### DOCKER

###> docker/versions ###
PHP_VERSION=php:8.3-fpm-alpine
###< docker/versions ###

###> docker/config ###
DOMAIN=converter.pdf.local
CONTAINER_NAME=pdf-converter-worker
PS1='\[\033[1;36m\]-converter-worker-local@docker-local🐋\[\033[0;35m\]\[\033[01;37m\]:\w\$ \[\033[00m\]'
XDEBUG_SERVER_NAME=serverName=converter.pdf.local
###< docker/config ###

###> docker/networks ###
# PROXY_NETWORK_NAME=docker_engine_reverse_proxy
# POSTGRES_NETWORK_NAME=pdf_api_postgres
# MINIO_NETWORK_NAME=pdf_api_minio
# RABBITMQ_NETWORK_NAME=pdf_api_rabbitmq
# CENTRIFUGO_NETWORK_NAME=pdf_api_centrifugo
# SQL_NETWORK_NAME=docker_engine_sql
###< docker/networks ###

# Windows, измените на docker.for.win.localhost
# Linux, измените на 172.17.0.1
# Mac OS, измените на docker.for.mac.localhost
DOCKER_IP=172.17.0.1
###< docker/networks ###

###> docker/cache ###
# COMPOSER_CONFIG_PATH=./composer/.config
# COMPOSER_CACHE_PATH=./composer/.cache
# YARN_PATH=./yarn
# YARNRC_PATH=./yarn/.yarnrc
# YARN_CACHE_PATH=./yarn/.config
###< docker/cache ###

### SYMFONY

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=1bb8fa8e5f763e62977db39d2d6e5fe9
STORAGE_DIRECTORY=var/storage
###< symfony/framework-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=amqp://guest:guest@amqproxy:5673/%2f
###< symfony/messenger ###

###> aws/aws-sdk-php ###
AWS_S3_BASE_URL=http://minio:9000
AWS_S3_VERSION=latest
AWS_S3_ACCESS_KEY=xRpTz6nYOw60SwElWn1v
AWS_S3_SECRET_KEY=z9h4AqoTnAH963dR9OHMx5BeX6HL8f0tcVT1vAsO
###< aws/aws-sdk-php ###
